<b>Micro Framework for CoffeeScript</b>
<ul>
	<li>application: example</li>
	<li>baseUrl: <%= @attr('baseUrl') or 'empty' %></li>
	<li>url: <%= @url %></li>
	<li>controller: <%= @attr 'controller' %></li>
	<li>action: <%= @attr 'action'  %></li>
	<li>layout: <%= if ((layout = @attr 'layout')) then @layout(layout) else 'null' %></li>
	<li>view: <%= if (view = @attr 'view').length then @view(view) else 'null' %></li>
	<li>params:
		<ul>
			<% x = 0 %>
			<% for key, value of do @params: %>
				<% x++ %>
				<li><%= key %>: <%= value or 'empty' %></li>
			<% end %>
			<% unless x: %>
				<li>empty</li>
			<% end %>
		</ul>
	</li>
</ul>